<ion-header class="custom-header">
  <ion-toolbar class="gradient-toolbar">
    <ion-buttons slot="start">
      <ion-back-button 
        *ngIf="showBackButton" 
        [defaultHref]="backUrl"
        class="back-btn">
      </ion-back-button>
      
      <ion-button *ngIf="!showBackButton" fill="clear" (click)="navigateToHome()">
        <ion-icon name="home-outline" class="nav-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header-title">
      <span class="title-gradient">{{ title }}</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="navigateToProfile()">
        <ion-icon name="person-outline" class="nav-icon"></ion-icon>
      </ion-button>
      
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="log-out-outline" class="nav-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
