<ion-header class="ion-no-border modern-header">
  <ion-toolbar class="gradient-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="modern-menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="logo-container">
        <img src="assets/bogota.png" alt="RoloApp" class="logo-img"/>
        <span class="logo-text">RoloApp</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<app-nav-menu></app-nav-menu>

<ion-content id="main-content" class="modern-content">
  <router-outlet></router-outlet>
</ion-content>